* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

#form-div {
    width: 100%;
    height: 100vh;
    /* center */
    display: flex;
    justify-content: center;
    align-items: center;
    }

form {
    width: 30%;
     /* center */
     display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    box-shadow: 0 0 10px rgba(184, 77, 77, 0.2);
    padding:30px;
    



}

.form-div {
    width: 100%;
      /* center */
      display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
}
label {
    font-size: 1.1rem;

}
input{
    width: 100%;
    font-size: 15px;
    padding: 5px 8px;
}

h1{
    margin-bottom: 15px;
    
}
button{
    width: 100%;
    padding: 10px 8px;
    background-color: rgb(20, 35, 117);
    border: none;
    border-radius: 2px;
    color: white;
    font-weight: bold;
    
    &:hover{
        background-color: rgb(26, 160, 59);
        cursor: pointer;
    }
}